        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            padding: 20px;
        }
        .card {
            flex: 1 1 300px;
            background-color: #78cbec;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            border: 2px solid #ddd;
            border-radius: 8px;
            transition: transform 0.3s ease;
            max-width: 1200px;
            cursor: pointer;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .content {
            padding: 10px;
            color: #333;
        }

        .title {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: #0073e6;
        }
        .text {
                    font-size: 1em;
                    color: rgb(7, 7, 7);
                    margin-bottom: 10px;
                    line-height: 1.6;
                }